/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #121037;
    --secondary-color: #ffffff;
    --accent-color: #81cff3;
    --divider-color: #f0f0f0;
    --darker-primary-color: #2fb8f7;
}
